.tasks {
  width: 100%;
  max-width: 736px;
  margin: 0 auto;
  margin-top: 90px;
  padding: 0 1rem;
}

.tasks__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.tasks__header > div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.tasks__header p {
  color: #4ea8de;
  font-size: 14px;
  font-weight: 700;
}
.tasks__header p.textPurple {
  color: #8284fa;
}

.tasks__header span {
  background: #333333;
  color: #d9d9d9;
  padding: 3px 9px;
  border-radius: 999px;
  font-size: 12px;
  font-weight: 700;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
